In [1]:
!py -m pip install pyodbc pandas db-dtypes
!py -m pip install google-cloud-bigquery google-auth google-auth-oauthlib pandas_gbq

Requirement already satisfied: pyodbc in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Requirement already satisfied: pandas in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: db-dtypes in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: packaging>=24.2.0 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from db-dtypes) (25.0)
Requirement already satisfied: pyarrow>=13.0.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from db-dtypes) (21.0.0)
Requirement already satisfied: six>=1.5 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: google-cloud-bigquery in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (3.35.1)
Requirement already satisfied: google-auth in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (2.40.3)
Requirement already satisfied: google-auth-oauthlib in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (1.2.2)
Collecting pandas_gbq
  Downloading pandas_gbq-0.29.2-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.25.1)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-cloud-bigquery) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=24.2.0 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from google-cloud-bigquery) (25.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-cloud-bigquery) (2.32.4)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-auth) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-auth) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-auth) (4.9.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (6.31.1)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.26.1)
Requirement already satisfied: grpcio<2.0.0,>=1.33.2 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.74.0)
Requirement already satisfied: grpcio-status<2.0.0,>=1.33.2 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.74.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: six>=1.5 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2025.8.3)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from rsa<5,>=3.1.4->google-auth) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from google-auth-oauthlib) (2.0.0)
Collecting setuptools (from pandas_gbq)
  Downloading setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas_gbq) (1.4.3)
Requirement already satisfied: numpy>=1.18.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas_gbq) (2.3.2)
Requirement already satisfied: pandas>=1.1.4 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas_gbq) (2.3.1)
Requirement already satisfied: pyarrow>=4.0.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas_gbq) (21.0.0)
Collecting pydata-google-auth>=1.5.0 (from pandas_gbq)
  Downloading pydata_google_auth-1.9.1-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.1.4->pandas_gbq) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.1.4->pandas_gbq) (2025.2)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib) (3.3.1)
Downloading pandas_gbq-0.29.2-py3-none-any.whl (40 kB)
Downloading pydata_google_auth-1.9.1-py2.py3-none-any.whl (15 kB)
Downloading setuptools-80.9.0-py3-none-any.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 7.9 MB/s  0:00:00
Installing collected packages: setuptools, pydata-google-auth, pandas_gbq

   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ---------------------------------------- 0/3 [setuptools]
   ------------- -------------------------- 1/3 [pydata-google-auth]
   -------------------------- ------------- 2/3 [pandas_gbq]
   ---------------------------------------- 3/3 [pandas_gbq]

Successfully installed pandas_gbq-0.29.2 pydata-google-auth-1.9.1 setuptools-80.9.0

In [2]:
import pyodbc
import pandas as pd
import pandas_gbq
import json
from google.cloud import bigquery

In [3]:
# Open and read the JSON file
with open('config/mom_db_config.json', 'r') as file:
    mom_db_config = json.load(file)

In [4]:
MOM_CONN_STR = (
    f"{mom_db_config['driver']}"
    f"{mom_db_config['server']}"
    f"{mom_db_config['database']}"
    f"{mom_db_config['user']}"
    f"{mom_db_config['password']}"
)
PROJECT_ID = "sturdy-tome-468208-k2"
DATASET_ID = "dev"
TABLE_IDS = {
    "orders" : "orders"
}

In [5]:
# Create connection
mom_conn = pyodbc.connect(MOM_CONN_STR)

In [6]:
last_order_time  = "2025-08-06 12:27:05.000"
last_order_num = 1588550

query = """
    SELECT
        orderno AS order_id,
        custnum AS customer_id,
        entrytime AS entry_time,
        ord_total AS order_total,
        checkamoun AS check_amount

    FROM CMS WHERE orderno > ?
    ORDER BY order_id DESC
"""

df = pd.read_sql(query, mom_conn, params=[last_order_num])

C:\Users\danny.sloan\AppData\Local\Temp\ipykernel_10096\1220586830.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, mom_conn, params=[last_order_num])

In [7]:
df.head(100)

     order_id  customer_id          entry_time  order_total  check_amount
0   1588594.0     492680.0                 NaT         0.00          0.00
1   1588593.0     545079.0                 NaT        35.00         35.00
2   1588592.0     935847.0 2025-08-06 14:18:33        77.00         77.00
3   1588591.0     912695.0 2025-08-06 14:14:18        35.00         35.00
4   1588590.0      91698.0 2025-08-06 14:13:16       130.00        130.00
5   1588589.0     502918.0 2025-08-06 14:13:29        95.00         95.00
6   1588588.0     935845.0 2025-08-06 14:07:14        92.00         92.00
7   1588587.0     890972.0 2025-08-06 14:13:34       155.00          0.00
8   1588586.0     534238.0 2025-08-06 14:03:34       105.00        105.00
9   1588585.0     708053.0 2025-08-06 14:11:30        85.00         85.00
10  1588584.0     935844.0 2025-08-06 13:59:23       100.00        100.00
11  1588583.0     579352.0 2025-08-06 13:58:01        65.00         65.00
12  1588582.0     935843.0 2025-08-06 13:53:07       100.00        100.00
13  1588581.0     787958.0 2025-08-06 13:43:54       190.00          0.00
14  1588580.0     504314.0 2025-08-06 13:47:15       297.00        297.00
15  1588579.0     935842.0 2025-08-06 13:40:31       250.00        250.00
16  1588578.0     934930.0 2025-08-06 13:30:52       100.00        100.00
17  1588577.0     787722.0 2025-08-06 13:29:57       175.00        175.00
18  1588576.0     617303.0 2025-08-06 13:34:40        95.00         95.00
19  1588575.0     776310.0 2025-08-06 13:18:46       191.43        191.43
20  1588574.0     759222.0 2025-08-06 13:13:01       185.22        188.55
21  1588572.0     935841.0 2025-08-06 13:00:32        62.00         62.00
22  1588571.0     543397.0 2025-08-06 12:59:27       107.00        107.00
23  1588570.0     935840.0 2025-08-06 12:56:51       165.00        165.00
24  1588569.0     615916.0 2025-08-06 12:58:41       170.00        170.00
25  1588568.0     707088.0 2025-08-06 13:00:17       195.00        195.00
26  1588567.0     423557.0 2025-08-06 12:54:29        26.00         26.00
27  1588566.0     935839.0 2025-08-06 12:41:49        55.00         55.00
28  1588565.0     527824.0 2025-08-06 12:39:56       195.57        198.90
29  1588564.0     935837.0 2025-08-06 12:31:26       125.00        125.00
30  1588563.0     507491.0                 NaT        35.00         35.00
31  1588561.0     935836.0 2025-08-06 12:27:56        65.00         35.00
32  1588560.0     743464.0 2025-08-06 12:27:05        60.00         60.00
33  1588559.0     417606.0 2025-08-06 12:23:48       150.00        150.00
34  1588558.0     934632.0 2025-08-06 12:19:52        52.00         52.00
35  1588557.0     812447.0 2025-08-06 12:22:59       155.00        155.00
36  1588556.0     935835.0 2025-08-06 12:17:36       219.87        219.87
37  1588555.0     935833.0 2025-08-06 12:15:58        40.00         40.00
38  1588554.0     935831.0 2025-08-06 12:16:35        35.00         35.00
39  1588553.0     935832.0 2025-08-06 12:12:35        35.00         35.00
40  1588552.0     283320.0 2025-08-06 12:17:05        60.00         60.00
41  1588551.0     888286.0 2025-08-06 12:08:11       100.00          0.00

In [8]:
mom_conn.close()

In [9]:
#!gcloud auth application-default login

In [ ]:
  # Initialize client (uses default credentials)
client = bigquery.Client(project=PROJECT_ID)

# Configure load job — let schema be auto-detected
job_config = bigquery.LoadJobConfig(
    autodetect=True,              # This makes schema generation automatic
    write_disposition="WRITE_APPEND"  # Or WRITE_TRUNCATE / WRITE_EMPTY
)

# Load DataFrame into BigQuery
job = client.load_table_from_dataframe(
    df,
    f"{DATASET_ID}.{TABLE_IDS['orders']}",
    job_config=job_config
)
job.result()  # Wait for the load to complete

print("Loaded {} rows into {}".format(df.shape[0], TABLE_IDS['orders']))

Loaded 42 rows into orders

In [ ]:
query = f"""
SELECT * FROM `{DATASET_ID}.{TABLE_IDS['orders']}`
"""

# Run query and return results as a DataFrame
df = client.query(query).to_dataframe()

c:\Users\danny.sloan\AppData\Local\Programs\Python\Python313\Lib\site-packages\google\cloud\bigquery\table.py:1965: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    order_id  customer_id          entry_time  order_total  check_amount
0  1588594.0     492680.0                 NaT          0.0           0.0
1  1588587.0     890972.0 2025-08-06 14:13:34        155.0           0.0
2  1588581.0     787958.0 2025-08-06 13:43:54        190.0           0.0
3  1588551.0     888286.0 2025-08-06 12:08:11        100.0           0.0
4  1588567.0     423557.0 2025-08-06 12:54:29         26.0          26.0

In [14]:
df.head(100)

     order_id  customer_id          entry_time  order_total  check_amount
0   1588594.0     492680.0                 NaT          0.0           0.0
1   1588587.0     890972.0 2025-08-06 14:13:34        155.0           0.0
2   1588581.0     787958.0 2025-08-06 13:43:54        190.0           0.0
3   1588551.0     888286.0 2025-08-06 12:08:11        100.0           0.0
4   1588567.0     423557.0 2025-08-06 12:54:29         26.0          26.0
..        ...          ...                 ...          ...           ...
95  1588558.0     934632.0 2025-08-06 12:19:52         52.0          52.0
96  1588566.0     935839.0 2025-08-06 12:41:49         55.0          55.0
97  1588560.0     743464.0 2025-08-06 12:27:05         60.0          60.0
98  1588552.0     283320.0 2025-08-06 12:17:05         60.0          60.0
99  1588572.0     935841.0 2025-08-06 13:00:32         62.0          62.0

[100 rows x 5 columns]