In [43]:
!py -m pip install pyodbc pandas

Requirement already satisfied: pyodbc in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Requirement already satisfied: pandas in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danny.sloan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\danny.sloan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [44]:
import pyodbc
import pandas as pd
import json

In [45]:
# Open and read the JSON file
with open('config/mom_db_config.json', 'r') as file:
    db_config = json.load(file)

# Print the data
print(db_config)

{'driver': 'DRIVER={ODBC Driver 17 for SQL Server};', 'server': 'SERVER=V19XX002;', 'database': 'DATABASE=MOM-PC;', 'user': 'UID=Danny.Sloan;', 'password': 'PWD=1$d*Y|0ztA42;'}

In [46]:
# Example for SQL Server Authentication
conn_str = (
    f"{db_config['driver']}"
    f"{db_config['server']}"
    f"{db_config['database']}"
    f"{db_config['user']}"
    f"{db_config['password']}"
)

print(conn_str)
# Create connection
conn = pyodbc.connect(conn_str)

DRIVER={ODBC Driver 17 for SQL Server};SERVER=V19XX002;DATABASE=MOM-PC;UID=Danny.Sloan;PWD=1$d*Y|0ztA42;

In [47]:


last_order_time  = "2025-08-06 12:27:05.000"
last_order_num = 1588560

query = "SELECT * FROM CMS WHERE orderno > ?"
df = pd.read_sql(query, conn, params=[last_order_num])

C:\Users\danny.sloan\AppData\Local\Temp\ipykernel_34408\2210056475.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=[last_order_num])

In [48]:
df.head()

,ORDERNO,CUSTNUM,CL_KEY,ODR_DATE,HOLD_TYPE,PERM_HOLD,SYS_HOLD,HOLD_DATE,REL_DATE,CLEAR_DATE,...,PICKED_UP,PICKUPWARE,TAXSERVICE,TRANFEE,TB_TRANFEE,TFALLOWED,TFMODIFY,FBA,AVALARA,AV_ENTITY
0,1588561.0,935836.0,? UNKNOWN,2025-08-06,,False,False,None,None,None,...,False,,False,0.0,0.0,False,False,False,False,
1,1588562.0,542583.0,PC3030,2025-08-06,,False,False,None,None,None,...,False,,False,0.0,0.0,False,False,False,False,
2,1588563.0,507491.0,5E31,2025-08-06,,False,False,None,None,None,...,False,,False,0.0,0.0,False,False,False,False,
3,1588564.0,935837.0,? UNKNOWN,2025-08-06,,False,False,None,None,None,...,False,,False,0.0,0.0,False,False,False,False,
4,1588565.0,527824.0,? UNKNOWN,2025-08-06,,False,False,None,None,None,...,False,,False,0.0,0.0,False,False,False,False,

In [49]:
conn.close()